<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/admin/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/static/admin/css/main.css" />
</head>

<body>
<div class="admin-main">
    <blockquote class="layui-elem-quote">
        <p>尊敬的&nbsp;&nbsp;{$Think.session.userInfo.name}&nbsp;&nbsp;先生/女士!&nbsp;&nbsp;&nbsp;欢迎使用大美科技后台管理系统</p>
        后台管理登录地址：
        <a href="http://admin.idmei.com" target="_blank">http://admin.idmei.com</a>
    </blockquote>

</div>
</body>

</html>