<style>
    .site-doc-icon {
        margin-bottom: 50px;
        font-size: 0;
    }
    ul{
        display: block;
        list-style-type: disc;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
    }
    .site-doc-icon li {
        display: inline-block;
        vertical-align: middle;
        width: 127px;
        line-height: 25px;
        padding: 20px 0;
        margin-right: -1px;
        margin-bottom: -1px;
        border: 1px solid #e2e2e2;
        font-size: 14px;
        text-align: center;
        transition: all .3s;
        -webkit-transition: all .3s;
    }
    .site-doc-icon li .name {
        color: #c2c2c2;
    }
</style>
<ul class="site-doc-icon">
    <li class="xuan" style="cursor:pointer;" data-icon_val="fa-cubes">
        <i class="fa fa-cubes" aria-hidden="true" data-icon="fa-cubes" style="font-size: 30px;"></i>
        <div class="name">基本组成</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe645">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe645;"></i>
        <div class="name">喇叭</div>
    </li>

    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe611">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe611;"></i>
        <div class="name">对话</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe614">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe614;">&#xe614;</i>
        <div class="name">设置</div>
    </li>

    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe60f">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe60f;"></i>
        <div class="name">隐身-im</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe615">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe615;"></i>
        <div class="name">搜索</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe641">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe641;">&#xe641;</i>
        <div class="name">分享</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe63d">
        <i class="layui-icon" style="font-size: 30px;" data-icon="ဂ&#xe63d;">ဂ</i>
        <div class="name">刷新</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="&#xe628;">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe628;">&#xe628;</i>
        <div class="name">引擎</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#x1006">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#x1006;">ဆ</i>
        <div class="name">错号1</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#x1007">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#x1007;">&#x1007;</i>
        <div class="name">错号2</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe629">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe629;">&#xe629;</i>
        <div class="name">报表</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe600">
        <i class="layui-icon" style="font-size: 30px;" data-icon=";&#xe600;"></i>
        <div class="name">star</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe617">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe617;"></i>
        <div class="name">圆点</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe606">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe606;"></i>
        <div class="name">客服</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe609">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe609;"></i>
        <div class="name">发布</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe60a">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe60a;"></i>
        <div class="name">21cake_list</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe62c">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe62c;"></i>
        <div class="name">图表</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#x1005">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#x1005;">&#x1005;</i>
        <div class="name">正确</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe61b">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe61b;"></i>
        <div class="name">换肤</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe610">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe610;">&#xe610;</i>
        <div class="name">在线</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe602">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe602;"></i>
        <div class="name">右右</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe603">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe603;"></i>
        <div class="name">左左</div>
    </li>

    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe62d">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe62d;">&#xe62d;</i>
        <div class="name">表格</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe62e">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe62e;"></i>
        <div class="name">icon_树</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe62f">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe62f;">&#xe62f;</i>
        <div class="name">上传</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe61f">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe61f;">&#xe61f;</i>
        <div class="name">添加</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe601">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe601;">&#xe601;</i>
        <div class="name">下载</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe630">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe630;"></i>
        <div class="name">选择模版48</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe631">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe631;">&#xe631;</i>
        <div class="name">工具</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe642">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe642;"></i>
        <div class="name">编辑</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe640">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe640;"></i>
        <div class="name">删除</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe61a">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe61a;"></i>
        <div class="name">向下</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe621">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe621;">&#xe621;</i>
        <div class="name">文件</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe632">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe632;"></i>
        <div class="name">布局</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe618">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe618;">&#xe618;</i>
        <div class="name">对勾</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe608">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe608;">&#xe608;</i>
        <div class="name">添加</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe633">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe633;">&#xe633;</i>
        <div class="name">翻页</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe61c">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe61c;"></i>
        <div class="name">404</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe634">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe634;">&#xe634;</i>
        <div class="name">轮播组图</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe607">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe607;">&#xe607;</i>
        <div class="name">help</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe635">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe635;"></i>
        <div class="name">代码1</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe636">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe636;"></i>
        <div class="name">进水</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe60b">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe60b;"></i>
        <div class="name">关于</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe619">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe619;"></i>
        <div class="name">向上</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe637">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe637;">&#xe637;</i>
        <div class="name">日期</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe61d">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe61d;"></i>
        <div class="name">文件</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe604">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe604;">&#xe604;</i>
        <div class="name">top</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe612">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe612;">&#xe612;</i>
        <div class="name">好友请求</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe605">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe605;">;</i>
        <div class="name">对</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe638">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe638;">&#xe638;</i>
        <div class="name">窗口</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe60c">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe60c;"></i>
        <div class="name">表情</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe616">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe616;"></i>
        <div class="name">正确</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe613">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe613;"></i>
        <div class="name">我的好友</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe61e">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe61e;"></i>
        <div class="name">文件下载</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe60d">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe60d;">&#xe60d;</i>
        <div class="name">图片</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe64c">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe64c;">&#xe64c;</i>
        <div class="name">链接</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe60e">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe60e;"></i>
        <div class="name">记录</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe622">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe622;"></i>
        <div class="name">文件夹</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe64f">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe64f;"></i>
        <div class="name">font-strikethrough</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe64d">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe64d;"></i>
        <div class="name">unlink</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe639">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe639;">&#xe639;</i>
        <div class="name">编辑_文字</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe623">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe623;"></i>
        <div class="name">三角</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe63f">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe63f;">&#xe63f;</i>
        <div class="name">单选框-候选</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe643">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe643;"></i>
        <div class="name">单选框-选中</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe647">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe647;">&#xe647;</i>
        <div class="name">居中对齐</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe648">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe648;"></i>
        <div class="name">右对齐</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe649">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe649;">&#xe649;</i>
        <div class="name">左对齐</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe626">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe626;"></i>
        <div class="name">勾选框（未打勾）</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe627">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe627;"></i>
        <div class="name">勾选框（已打勾）</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe62b">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe62b;"></i>
        <div class="name">加粗</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe63a">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe63a;"></i>
        <div class="name">聊天 对话 IM 沟通</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe624">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe624;"></i>
        <div class="name">文件夹_反</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe63b">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe63b;"></i>
        <div class="name">手机</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe650">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe650;">&#xe650;</i>
        <div class="name">表情</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe64b">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe64b;"></i>
        <div class="name">html</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe63c">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe63c;"></i>
        <div class="name">表单</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe62a">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe62a;">&#xe62a;</i>
        <div class="name">tab</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe64e">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe64e;">"&#xe64e;</i>
        <div class="name">emw_代码</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe646">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe646;">&#xe646;</i>
        <div class="name">字体-下划线</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe625">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe625;">&#xe625;</i>
        <div class="name">三角</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe64a">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe64a;"></i>
        <div class="name">图片</div>
    </li>
    <li class="xuan" style="cursor:pointer;" data-icon_val="#xe644">
        <i class="layui-icon" style="font-size: 30px;" data-icon="&#xe644;"></i>
        <div class="name">斜体</div>
    </li>
</ul>
<form class="layui-form">
    <input type="hidden" name="icon" value="">
</form>
<script>
    layui.config({
        base: '/static/admin/plugins/layui/modules/'
    });

    layui.use(['icheck','form','layer'], function() {
        var form = layui.form();
        var $ = layui.jquery;

        var that;
        $('.xuan').on('click', function() {
            if(that == undefined){
                that = this;
            }else {
                that.style.backgroundColor="#FFFFFF";
                that = this;
            }

            this.style.backgroundColor="#1E9FFF";
            var icon = this.dataset.icon_val;
            $("input[name='icon']").val(icon);
        });
    });
</script>