<form class="layui-form">
	<div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input type="text" value="{$info['username']}" autocomplete="off" class="layui-input" disabled>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所在组</label>
        <div class="layui-input-block">
            <input type="text" value="{$info['group_name']}" autocomplete="off" class="layui-input" disabled>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">真实姓名</label>
        <div class="layui-input-block">
            <input type="text" value="{$info['name']}" autocomplete="off" class="layui-input" disabled>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电话号码</label>
        <div class="layui-input-block">
            <input type="text" value="{$info['mobile']}" autocomplete="off" class="layui-input" disabled>
        </div>
    </div>
</form>
<script type="text/javascript" src="/static/admin/plugins/layui/lay/modules/form.js"></script>

