<form class="layui-form">
	<div class="layui-form-item">
        <label class="layui-form-label">原密码</label>
        <div class="layui-input-block"  style="padding-right: 16px">
            <input type="password" name="o_pwd" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-block"  style="padding-right: 16px">
            <input type="password" name="n_pwd" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">重复密码</label>
        <div class="layui-input-block"  style="padding-right: 16px">
            <input type="password" name="r_pwd" autocomplete="off" class="layui-input">
        </div>
    </div>
</form>
<script type="text/javascript" src="/static/admin/plugins/layui/lay/modules/form.js"></script>

